# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# Env variables
.env

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Media / static (optional)
media/
staticfiles/